<template name="chat">
  <div class="panel-body msg_container_base">
    {{#each comments}} {{#if toggle}}
    <div class="row msg_container base_sent">
      <div class="col-md-10 col-xs-10">
        <div class="messages msg_sent">
          <p>{{text}}</p>
          <time datetime="2009-11-13T20:00">{{author}} • 51 min</time>
        </div>
      </div>
      <div class="col-md-2 col-xs-2 avatar">
        <img src="{{image}}" class=" img-responsive ">
      </div>
    </div>
    {{else}}
    <div class="row msg_container base_receive">
      <div class="col-md-2 col-xs-2 avatar">
        <img src="{{image}}" class=" img-responsive ">
      </div>
      <div class="col-md-10 col-xs-10">
        <div class="messages msg_receive">
          {{text}}
          <time datetime="2009-11-13T20:00">{{author}} • 51 min</time>
        </div>
      </div>
    </div>
    {{/if}} {{/each}}
  </div>

</template>
